*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body
{
    font-family: 'Redressed', cursive;
}
.bakery
{
    background-image: url("../imges/drew-coffman-1872.jpg");
    background-size: 100% 100%;
    height: 100vh;
    text-align: center;
    color: #fff;

}
.bakr
{
    margin-top: 130px;
}
.bakr p
{
    font-size: 30px;
    padding: 30px;
}
.bakr h1
{
    font-size: 5.2rem;
}

.bakr .btn
{
    padding: 18px 35px  ;
    margin: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
}
.bakr .btn1
{
    background-color: #c1ab84;
    border: solid #c1ab84 2px;
}
.bakr .btn2
{
    background-color: transparent;
    border: solid #fff 2px;
}

.contenar
{
    width: 90%;
    margin: auto;
    margin-top: 120px;
}

.contenar-img img
{
    width: 40%;
}

.contenar .contenar-text
{
    width: 50%;
    float: right;
    font-size: 22px;
}

.clr
{
    clear: both;
}

.contener
{
    width: 90%;
    margin: auto;
    text-align: right;
    margin-top: 120px;
    
    
}

.contener-img img
{
    width: 45%;
}

.contener .contener-text
{
    width: 45%;
    float: left;
    font-size: 22px;
}

.item
{
    width: 90%;
    margin:120px auto;
    text-align: center;
    font-size: 18px;
}

.item-text img
{
    width: 100%;
}

.item-text
{
    width: 33.333%;
    float: left;
    padding: 25px;
}

@media screen and (max-width: 800px)
{
    .item-text
    {
        width: 100%;
    }

    .contenar-img img
    {
       width: 100%;
    }

    .contenar .contenar-text
    {
       width: 100%;
    }

    .contener-img img
    {
      width: 100%;
    }

    .contener .contener-text
    {
        width: 100%;
    }

    .contener
    {
      width: 90%;
      margin: auto;
      text-align: left;
      margin-top: 120px;
    
    
    }

    




}


.inner
{
    background-color: white;
}

.item p
{
    font-size: 25px;
}

.item .p
{
    padding: 20px;
}

.item h1
{
    padding: 10px;
}




